<p>product-dashboard works!</p>
<button type="button" routerLink="/maindashboard/ProductAdd" class="btn btn-primary mt-2"><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Name</th>
            <th>Price</th>
            <th>Company</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of myproducts">
            <td>{{myproducts.indexOf(product)+1}}</td>
            <!-- <td>{{product.id}}</td> -->
            <td>{{product.pname}}</td>
            <td>{{product.price}}</td>
            <td>{{product.company}}</td>
            <td>
                <button type="button" [routerLink]="['/maindashboard/ProductUpdate',product.id]" class="btn btn-outline-success btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-outline-success btn-sm" (click)="deleteData(product.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>