<p>nav works!</p>
<button type="button" routerLink="angform" class="btn btn-primary btn-sm">ANGFORM</button> &nbsp;
<button type="button" routerLink="angform/rtf" class="btn btn-primary btn-sm">DATABINDING</button> &nbsp;
<button type="button" routerLink="empdetails/:id" class="btn btn-primary btn-sm">EMP</button> &nbsp;
<button type="button" routerLink="Foodlist" class="btn btn-primary btn-sm">Food</button> &nbsp;
<button type="button" routerLink="Productdash" class="btn btn-primary btn-sm">CRUD</button> &nbsp;
<button type="button" routerLink="AngularMaterial" class="btn btn-primary btn-sm">AngularMaterial</button> &nbsp;
<button type="button" routerLink="Login" class="btn btn-primary btn-sm">SignOut</button>