<p>emp-details works!</p>

<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Post</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of emp">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.post}}</td>
            <td>{{e.Address}}</td>
        </tr>
       
    </tbody>
</table>