<p>ChangePond Employee</p>
<!-- use of *ngIf -->
<!-- <h2 *ngIf="isCond1">Use of *ngIf directive when it has true value</h2>
<h2 *ngIf="isCond2">Use of *ngIf directive when it has false value</h2>

<div *ngIf="isCond2 then falsepart else truepart"></div> -->

<!-- use of ng-template -->

<!-- <ng-template #truepart>
   <h3>I like Dosa</h3>
</ng-template>
<ng-template #falsepart>
   <h3>I like Vada</h3>
</ng-template> -->

<!-- use of *ngFor -->

<!-- <ul>
   <li *ngFor="let bike of bikes"> {{bike}} </li>
</ul>

<div [ngSwitch]="mybike"> -->
   <!-- <div *ngSwitchCase="'Pulsar'">You have selected pulsar</div>
   <div *ngSwitchCase="'Apache'">You have selected Apache</div>
   <div *ngSwitchCase="'Splendor'">You have selected Splendor</div>
   <div *ngSwitchCase="'R15'">You have selected R15</div>
   <div *ngSwitchCase="'Duke'">You have selected Duke</div> -->
   <!-- <div *ngFor="let bike of bikes">
      <div *ngSwitchCase="bike">You have selected pulsar <strong> {{bike}} </strong></div>
   </div>
   <div *ngSwitchDefault>Invalid Choice</div>
</div> -->




