<p>product-update works!</p>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

        <form [formGroup]="prodData" (ngSubmit)="addData()">

                <div>
                    <label for="pname" class="form-label">Enter product Name</label>
                    <input type="text" name="pname" id="pname" formControlName="pname">
                </div>
                <div>
                    <label for="price" class="form-label">Enter price Name</label>
                    <input type="text" name="price" id="price" formControlName="price">
                </div>
                <div>
                    <label for="company" class="form-label">Enter company Name</label>
                    <input type="text" name="company" id="company" formControlName="company">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div> 


